<a href="https://colab.research.google.com/github/furqanmalem/ML_Week1/blob/main/HomeWork_Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

2. Basic Data exploration

In [6]:
# save filepath to variable for easier access
melbourne_file_path = '../content/drive/My Drive/dataset/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)
# print a summary of the data in Melbourne data
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [7]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [8]:
# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [9]:
y = melbourne_data.Price
y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [30]:
melbourne_features = {'Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude'}

In [31]:
x = melbourne_data[melbourne_features]

In [32]:
x.describe()

        Longtitude    Lattitude        Rooms      Landsize     Bathroom
count  6196.000000  6196.000000  6196.000000   6196.000000  6196.000000
mean    144.990201   -37.807904     2.931407    471.006940     1.576340
std       0.099165     0.075850     0.971079    897.449881     0.711362
min     144.542370   -38.164920     1.000000      0.000000     1.000000
25%     144.926198   -37.855438     2.000000    152.000000     1.000000
50%     144.995800   -37.802250     3.000000    373.000000     1.000000
75%     145.052700   -37.758200     4.000000    628.000000     2.000000
max     145.526350   -37.457090     8.000000  37000.000000     8.000000

In [33]:
x.head()

   Longtitude  Lattitude  Rooms  Landsize  Bathroom
1    144.9934   -37.8079      2     156.0       1.0
2    144.9944   -37.8093      3     134.0       2.0
4    144.9941   -37.8072      4     120.0       1.0
6    144.9993   -37.8024      3     245.0       2.0
7    144.9954   -37.8060      2     256.0       1.0

In [34]:
x.tail()

       Longtitude  Lattitude  Rooms  Landsize  Bathroom
12205   145.13282  -37.51232      3     972.0       2.0
12206   144.90474  -37.86558      3     179.0       1.0
12207   144.89936  -37.85588      1       0.0       1.0
12209   144.99025  -37.85581      2       0.0       1.0
12212   144.89389  -37.81038      6    1087.0       3.0

3. Decision tree model

In [35]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same result each run 
melbourne_model = DecisionTreeRegressor(random_state=1)

In [36]:
#Fit model
melbourne_model.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [37]:
# Test the result on training data
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Longtitude  Lattitude  Rooms  Landsize  Bathroom
1    144.9934   -37.8079      2     156.0       1.0
2    144.9944   -37.8093      3     134.0       2.0
4    144.9941   -37.8072      4     120.0       1.0
6    144.9993   -37.8024      3     245.0       2.0
7    144.9954   -37.8060      2     256.0       1.0
The predictions are
[2. 3. 3. 4. 2.]

4. Model Validation

In [38]:
# Calculate the mean absolute error MSE:

from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

0.001022164837529589

In [39]:
# use some of that data as training data to fit the model,
# and use the other data as validation data to calculate mean_absolute_error

In [20]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to 
# the random_state argument guarantees we get the same split every time we
# run this script 
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [21]:
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit Model
melbourne_model.fit(train_x, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [22]:
#kodingan buat liat value pada data validasi tersebut
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

0.10458360232408005

5. Under fitting and overfitting

In [23]:
# use a utility function to help compare MAE scores from different values for max_leaf_nodes :
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
  model.fit(train_x, train_y)
  preds_val = model.predict(val_x)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [29]:
# compare MAE with differing value of max_leaf_nodes
for max_leaf_nodes in [2, 20, 200, 2000]:
  my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
  print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 2 		 Mean Absolute Error: 0
Max leaf nodes: 20 		 Mean Absolute Error: 0
Max leaf nodes: 200 		 Mean Absolute Error: 0
Max leaf nodes: 2000 		 Mean Absolute Error: 0

6. random Forest model

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

0.10861878631375078

In [41]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

0.10861878631375078

In [42]:
print("Making Predictions for the following 10 houses:")
print(x.head(10))
print("The predictions are")
print(forest_model.predict(x.head(10)))

Making Predictions for the following 10 houses:
    Longtitude  Lattitude  Rooms  Landsize  Bathroom
1     144.9934   -37.8079      2     156.0       1.0
2     144.9944   -37.8093      3     134.0       2.0
4     144.9941   -37.8072      4     120.0       1.0
6     144.9993   -37.8024      3     245.0       2.0
7     144.9954   -37.8060      2     256.0       1.0
9     144.9989   -37.8010      2     220.0       1.0
11    144.9964   -37.8085      3     214.0       2.0
12    144.9965   -37.8078      2       0.0       2.0
15    144.9976   -37.8090      2     238.0       1.0
16    144.9930   -37.8056      3     113.0       2.0
The predictions are
[2.   2.9  3.22 3.58 2.01 2.67 2.96 2.   2.   2.99]

In [43]:
forest_model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)